<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ColorMine" version="1.2.0" targetFramework="net472" />
  <package id="Costura.Fody" version="3.1.0" targetFramework="net472" />
  <package id="Fody" version="3.1.3" targetFramework="net472" developmentDependency="true" />
  <package id="libReloaded-IO" version="1.1.7" targetFramework="net472" />
  <package id="libReloaded-Native" version="1.1.7" targetFramework="net472" />
  <package id="libReloaded-Paths" version="1.1.7" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net472" />
  <package id="Reloaded-GUI" version="1.0.2" targetFramework="net472" />
  <package id="Windows7APICodePack-Core" version="1.1.0.0" targetFramework="net472" />
  <package id="Windows7APICodePack-Shell" version="1.1.0.0" targetFramework="net472" />
</packages>