<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ColorMine" version="1.2.0" targetFramework="net472" />
  <package id="libReloaded-IO" version="2.0.0" targetFramework="net472" />
  <package id="libReloaded-Native" version="2.0.0" targetFramework="net472" />
  <package id="libReloaded-Paths" version="2.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="Ookii.Dialogs.WinForms" version="4.0.0" targetFramework="net48" />
  <package id="Reloaded-GUI" version="1.0.4" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Resources.Extensions" version="8.0.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
</packages>